@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
}


.logo {
    display: inline-block;
    font-size: 30px;
    background: linear-gradient(to right, #a5b7c6 0%, #a5b7c6 55%, #4AA2FF 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.nav-link {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 700;
    color: #4AA2FF !important;
}

/* index */
/* .col-sm--image {
    height: 995px;
    position: absolute;
    top: -170px;
    left: -160px;
} */

.main__btnarea--button {
    /* display: inline-block; */
    padding: 5px 25px;
    border-radius: 19px;
    background-color:#ce56a9;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    align-items: center;
    margin: 20px;
    font-weight: 500;
}

.main--h1 {
    margin-top: 50px;
    font-size: 60px;
    color: #ce56a9;
    font-weight: 600;
    margin: 20px;
}
.main--lead {
    font-size: 15px;
    color: #a8a8a8;
    font-weight: 500;
    margin: 10px 25px 10px 25px;
}

.img {
    top: -163px;
    height: 980px;
    position: absolute;
    left: -85px;
    z-index: -1;
}

.col1 {
    position: relative;
    top: 60%;
}
.main__btnarea {
    text-align: center; 
}
.main__btnarea--button--link {
    text-decoration: none;
    color: #ffffff
    
}

a:hover {
    color: white;
    text-decoration: none;
}